.MessageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75vw;
    padding: 20px;
    overflow: auto;
    height: 90%;
}
.Message {
    color: red;
    text-align: left;
}
.MessageRight {
    color: black;
    text-align: right;
}